PORT=8787
CORS_ORIGIN=http://localhost:5173
APP_TIMEZONE=Europe/Madrid
DEFAULT_COACH_ID=coach_default

STORAGE_PROVIDER=mongo

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
MONGODB_DB=trackflow
MONGO_REQUIRE_AUTH=false

AUTH_JWT_SECRET=change_this_super_secret
AUTH_JWT_TTL_SEC=1209600
AUTH_COOKIE_NAME=tf_session
AUTH_COOKIE_SECURE=false
